{% extends "base.html" %} {% block content %}

<nav class="bg-primary sb-topnav navbar navbar-expand navbar-dark">
  <a class="navbar-brand ps-3" href="index.html">QuantifyIQ</a
  ><button
    class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0"
    id="sidebarToggle"
  >
    <i class="fas fa-bars"></i>
  </button>
  <form
    class="d-none d-md-inline-block ms-auto form-inline me-0 me-md-3 my-2 my-md-0"
  >
    <div class="input-group"></div>
  </form>
  <ul class="nav ms-auto ms-md-0 me-3 me-lg-4">
    <li class="nav-item dropdown">
      <a
        class="nav-link link-light dropdown-toggle"
        aria-expanded="false"
        data-bs-toggle="dropdown"
        href="#"
        id="navbarDropdown"
        role="button"
        ><span
          class="fw-normal text-white"
          style="padding-right: 10px; margin-left: 0px; padding-left: 10px"
          >{{name}}</span
        ><i class="fas fa-user text-white fa-fw"></i
      ></a>
      <ul
        class="dropdown-menu dropdown-menu-end"
        aria-labelledby="navbarDropdown"
      >
        <li>
          <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
        </li>
        <li><a class="dropdown-item" href="#!">Reset Password</a></li>
      </ul>
    </li>
  </ul>
</nav>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav id="sidenavAccordion" class="sb-sidenav accordion sb-sidenav-light">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading"><span>Menu</span></div>
          <a class="nav-link" href="index.html"
            ><div class="sb-nav-link-icon">
              <i class="fas fa-tachometer-alt"></i>
            </div>
            Dashboard
          </a>
          <div
            class="collapse"
            id="collapseLayouts"
            aria-labelledby="headingOne"
            data-bs-parent="#sidenavAccordion"
          >
            <nav class="sb-sidenav-menu-nested nav">
              <a class="nav-link" href="layout-static.html">Static Navigation</a
              ><a class="nav-link" href="layout-sidenav-light.html"
                >Light Sidenav</a
              >
            </nav>
          </div>
          <div
            class="collapse"
            id="collapsePages"
            aria-labelledby="headingTwo"
            data-bs-parent="#sidenavAccordion"
          >
            <nav
              class="sb-sidenav-menu-nested nav accordion"
              id="sidenavAccordionPages"
            >
              <a
                class="nav-link collapsed"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#pagesCollapseAuth"
                aria-expanded="false"
                aria-controls="pagesCollapseAuth"
              >
                Authentication
                <div class="sb-sidenav-collapse-arrow">
                  <i class="fas fa-angle-down"></i></div
              ></a>
              <div
                class="collapse"
                id="pagesCollapseAuth"
                aria-labelledby="headingOne"
                data-bs-parent="#sidenavAccordionPages"
              >
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="login.html">Login</a
                  ><a class="nav-link" href="register.html">Register</a
                  ><a class="nav-link" href="password.html">Forgot Password</a>
                </nav>
              </div>
              <a
                class="nav-link collapsed"
                href="#"
                data-bs-toggle="collapse"
                data-bs-target="#pagesCollapseError"
                aria-expanded="false"
                aria-controls="pagesCollapseError"
              >
                Error
                <div class="sb-sidenav-collapse-arrow">
                  <i class="fas fa-angle-down"></i></div
              ></a>
              <div
                class="collapse"
                id="pagesCollapseError"
                aria-labelledby="headingOne"
                data-bs-parent="#sidenavAccordionPages"
              >
                <nav class="sb-sidenav-menu-nested nav">
                  <a class="nav-link" href="401.html">401 Page</a
                  ><a class="nav-link" href="404.html">404 Page</a
                  ><a class="nav-link" href="500.html">500 Page</a>
                </nav>
              </div>
            </nav>
          </div>
          <a class="nav-link" href="charts.html"
            ><div class="sb-nav-link-icon">
              <i class="fas fa-chart-area"></i>
            </div>
            Bagan</a
          ><a class="nav-link" href="tables.html"
            ><div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
            Tabel</a
          >
        </div>
      </div>
      <div class="sb-sidenav-footer">
        <div class="small"><span>Logged in as:</span></div>
        <span> {{email}} </span>
      </div>
    </nav>
  </div>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4" style="margin-bottom: 20px">Dashboard</h1>
        <div class="row" style="margin-top: 30px; margin-bottom: 30px">
          <div class="col-md-4">
            <div class="card shadow">
              <div class="card-body">
                <p class="card-title">
                  <i class="bi bi-gear-fill"></i> Total Mesin yang Aktif
                </p>
                <p class="card-text">3</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card shadow">
              <div class="card-body">
                <p class="card-title">
                  <i
                    class="bi bi-box-seam"
                    style="padding-right: 0px; margin-right: 5px"
                  ></i
                  >Total Produksi
                </p>
                <p class="card-text">300</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card shadow">
              <div class="card-body" style="height: 88px">
                <p class="card-title">
                  <i class="bi bi-clock" style="margin-right: 5px"></i>Waktu
                  Real-Time:
                </p>
                <span class="card-text" id="real-time-1"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6">
            <div class="card mb-4">
              <div class="card-header">
                <i class="fas fa-chart-area me-1"></i
                ><span> Area Chart Example </span>
              </div>
              <div class="card-body">
                <canvas id="myAreaChart" width="100%" height="40"></canvas>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="card mb-4">
              <div class="card-header">
                <i class="fas fa-chart-bar me-1"></i
                ><span> Bar Chart Example </span>
              </div>
              <div class="card-body">
                <canvas id="myBarChart" width="100%" height="40"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-table me-1"></i><span> DataTable Example </span>
          </div>
          <div class="card-body">
            <table id="example" class="table table-striped" style="width: 100%">
              <thead>
                <tr>
                  <th>Tanggal</th>
                  <th>Hari</th>
                  <th>Bulan</th>
                  <th>Tahun</th>
                  <th>Shift</th>
                  <th>ID Perangkat</th>
                  <th>Status</th>
                  <th>Produksi</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th>Tanggal</th>
                  <th>Hari</th>
                  <th>Bulan</th>
                  <th>Tahun</th>
                  <th>Shift</th>
                  <th>ID Perangkat</th>
                  <th>Status</th>
                  <th>Produksi</th>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </main>
    <footer class="bg-light mt-auto py-4">
      <div class="container-fluid px-4">
        <div class="d-flex justify-content-between align-items-center small">
          <div class="text-muted">
            <span>Copyright © Your Website 2023</span>
          </div>
          <div>
            <a href="#">Privacy Policy</a><span> · </span
            ><a href="#">Terms &amp; Conditions</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
{% endblock %}
