{% extends "base.html" %}

{% block content %}
<section class="bg-primary py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row gy-4 align-items-center">
      <div class="col-12 col-md-6 col-xl-7">
        <div class="d-flex justify-content-center text-bg-primary">
          <div class="col-12 col-xl-9">
            <h2 class="h1 mb-4">QuantifyIQ</h2>
            <p class="lead mb-5">Menghitung denyut nadi kemajuan dengan presisi, memanfaatkan potensi tak terbatas dari
              IoT untuk menghitung, melacak, dan mengoptimalkan, membuka jalan untuk manajemen inventaris yang lebih cerdas dan
              operasi yang mulus.</p>
            <div class="text-endx">
              <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor"
                class="bi bi-grip-horizontal" viewBox="0 0 16 16">
                <path
                  d="M2 8a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm3 3a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm0-3a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-5">
        <div class="card border-0 rounded-4">
          <div class="card-body p-3 p-md-4 p-xl-5">
            <div class="row">
              <div class="col-12">
                <div class="mb-4">
                  <h3>Masuk</h3>
                </div>
              </div>
            </div>
            <form method="POST" action="{{ url_for('login') }}">
              {{ form.hidden_tag() }}
              <div class="row gy-4 overflow-hidden">
                <div class="col-12">
                  <div class="form-floating mb-1">
                    {{ form.email(class="form-control", placeholder="nama@contoh.com") }}
                    {{ form.email.label(class="form-label") }}
                    {% for error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating mb-3">
                    {{ form.password(class="form-control", placeholder="Kata sandi", id="login-password") }}
                    {{ form.password.label(class="form-label") }}
                    {% for error in form.password.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                  </div>
                </div>
              <div class="col-12">
                <div class="row ">
                  <div class="col">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox"
                        id="login-show-password">
                      <label class="form-check-label text-secondary" for="login-show-password">Tampilkan Sandi</label>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-check">
                      {{ form.remember_me(class="form-check-input", id="remember_me") }}
                      <label class="form-check-label text-secondary" for="remember_me">Ingat Saya</label>
                    </div>
                  </div>
                </div>
                </div>
                <div class="col-12">
                  <div class="d-grid">
                    {{ form.submit(class="btn btn-primary btn-lg") }}
                  </div>
                </div>
            </form>
            <div class="row">
              <div class="col-12">
                <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end mt-4">
                  <a href="#!">Lupa Password</a>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}